@import "../base/_base-dir";
@import "../layout/_layout-dir";
@import "../components/_components-dir";

.card {
  padding: 0;
  margin: 0 0.5rem;

  .text-wrapper {
    height: 5rem;

    button {
      color: white;
      position: absolute;
      bottom: 2.5%;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      i {
        color: white;
      }
    }

    button:active {
      border: none;
    }
  }
}