* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

}

.header {
    position: absolute;
}

.top-header {
    height: 1.3em;
    background: black;
    width: 100%;
}

.icon-top-header {
    float: right;
    padding: 0 0.2em;
}

.toggle-btn {
    display: none;
}

.center-header {
    background: #fff;
    position: relative;

}

.center-header a img {
    display: block;
    margin: 0 auto;
}

.center-header > a {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.center-header .logo-icon {
    position: absolute;
    right: 2em;
    top: 50%;
}

.center-header .logo-icon .fa-solid {
    padding: 0 0.2em;
}

.big-logo {
    height: 81px;
    line-height: 81px;
}


#keyword {
    border-radius: 20px;
    padding: 0.3rem;
    height: 4rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-style: inherit;
    border: 1px solid #333;
    outline: none;
    padding-left: 1rem;
}

.dropdown-menu {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ mờ */
    z-index: 999; /* Đảm bảo lớp nền đen mờ nằm trên cùng */
}


.search-container form {
    text-align: center;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.show {
    display: block !important; /* Hiển thị element có class 'show' */
}

.search-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-container button[type="submit"] {
    padding: 14px 20px;
    margin-left: 10px;
    background-color: orangered;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

.search-container button[type="submit"]:hover {
    background-color: #0056b3;
}


.fa-magnifying-glass {
    cursor: pointer;
}

.bottom-header {
    background: #000000;
    display: flex;
    justify-content: center;

}

.list-menu {
    text-decoration: none;
    color: #dedede;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.8em;
    font-size: 0.8em;
    font-family: "Roboto Condensed", sans-serif;;
}

.list-menu:hover {
    color: #fff;
}

.big-banner {
    position: relative;
}

.img-big-banner {
    position: relative;
    right: 0;
    left: 0;
    background-size: cover;
}

.footer-banner {
    position: absolute;
}

.slide-show {
    text-align: center;
    background: black;
}

.title-slider-show {
    padding: 1.5em 0;
}

.big-banner-mobile {
    display: none;
}

.mt-1 {
    padding: 0;

}

.row {
    width: 100%;
}


.footer-banner {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    max-width: 60%;
    bottom: 1.5rem;
    right: 50%;
    transform: translateX(50%);
}

.footer-banner .col > p {
    color: white;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.btn-footer-banner {
    text-decoration: none;
    display: inline-block;
    color: orangered;
    border: 3px solid orangered;
    height: 2rem;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
}

.btn-footer-banner:hover {
    background: orangered;
    color: white;
}

.img-fluid {
    max-width: 7rem;

}

.slide-show .row {
    width: 62%;
    margin: 0 auto;
}

.slide-windown {
    padding: 20px;
    background-color: black;
    margin-top: 20px;
}

.owl-carousel {
    display: flex;
    flex-wrap: nowrap; /* Các item trượt không xuống dòng */
    overflow-x: auto; /* Cho phép trượt ngang */
    scrollbar-width: none; /* Ẩn thanh cuộn trượt trên Firefox */
    -ms-overflow-style: none; /* Ẩn thanh cuộn trượt trên IE và Edge */
}

.owl-carousel::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trượt trên Chrome và Safari */
}

.owl-carousel .item {
    background-color: #fff;
    border-radius: 8px;
    margin-right: 10px; /* Khoảng cách giữa các sản phẩm */
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Hiệu ứng khi hover */
}

.owl-carousel .item img {
    max-width: 100%;
    border-radius: 8px;
}

.owl-carousel .item:hover {
    transform: scale(1.05); /* Phóng to sản phẩm khi hover */
}


.owl-carousel .item {
    position: relative;
}

.owl-carousel .item .item-info {
    position: absolute;
    bottom: 20px; /* Điều chỉnh vị trí so với dưới cùng của ảnh */
    left: 20px; /* Điều chỉnh vị trí so với bên trái của ảnh */
    right: 20px; /* Điều chỉnh vị trí so với bên phải của ảnh */
    background-color: rgba(255, 255, 255, 0.9); /* Màu nền với độ trong suốt */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Đổ bóng cho phần tử */
}

.owl-carousel .item .item-info h5 {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.owl-carousel .item .item-info p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding-top: 2%;
}

.site-footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-footer h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.site-footer p, .site-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-footer p {
    margin-bottom: 10px;
}

.site-footer ul li {
    margin-bottom: 10px;
}

.site-footer ul li a {
    color: #fff;
    text-decoration: none;
}

.site-footer ul li a:hover {
    text-decoration: underline;
}

.footer-social ul {
    display: flex;
    padding: 0;
}

.footer-social ul li {
    margin-right: 10px;
}

.footer-social ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}


/*RESPONSIVE*/
@media (max-width: 480px) {
    .top-header {
        display: none;
    }

    .toggle-btn {
        display: block;
        font-size: 1.3rem;
        position: absolute;
        left: 5%;
        top: 40%;
    }

    .fa-user {
        display: none;
    }

    .center-header {
        position: relative;
    }

    .center-header > a {
        width: 100%;
    }

    .big-logo {
        width: auto;
    }

    .logo-icon {
        font-size: 0.8rem;

    }


    .dropdown-menu {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100vh; /* Độ rộng của dropdown-menu */
        z-index: 1000;
        left: 50%; /* Đặt left ở giữa màn hình */
        transform: translateX(-50%); /* Dịch chuyển lề trái đi 50% độ rộng dropdown-menu */
        top: 50px; /* Vị trí top của dropdown-menu, điều chỉnh tùy theo thiết kế */
        text-align: center; /* Căn giữa nội dung trong dropdown-menu */
        margin-top: -5rem;
    }

    .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .close-dropdown-menu-icon {
        color: #fff;
        font-size: 2em;
        transform: translateX(20%);
        padding: 5px;


    }

    .dropdown-menu ul a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;
        font-size: 2em;
        padding: 5% 0;
    }

    .dropdown-menu ul a:hover {
        background-color: #555;
    }

    /* Hiển thị dropdown menu khi có lớp dropdown-active */
    .dropdown-menu.dropdown-active {
        display: block;
    }

    .list-item {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
    }


    #keyword {
        width: 100%;
        font-size: 1.5rem;
    }

    /*#search-btn{*/
    /*    display: none;*/
    /*}*/
    .search-container {
        display: none;
        position: fixed;
        top: 37%;
        width: 100%;
        z-index: 1000;
        margin: 0 auto;
    }

    .slide-show {
        margin-top: -5px;
    }

    .slide-show .row {
        display: none;
    }

    .first-title-slide-show {
        display: none;
    }

    .big-banner img {
        display: none;
    }

    .big-banner-mobile {
        display: block;
        margin-top: -25rem;
    }

    .big-banner-mobile img {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .bottom-header {
        display: none;
    }

    .footer-banner {
        max-width: 100%;
        margin: 0 auto;
    }

    .footer-banner .col > p {
        font-size: 1rem;
        padding-bottom: 1rem;
        color: #cccccc;
    }

    .btn-footer-banner {
        font-size: 0.9rem;
        border: none;
        color: #fff;
    }
}


/*!* Responsive CSS for tablet (768px) and mobile devices *!*/
/*@media only screen and (max-width: 768px) {*/
/*    .site-footer .container {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        text-align: center;*/
/*    }*/

/*    .site-footer .container > div {*/
/*        width: 100%;*/
/*        margin-bottom: 30px;*/
/*    }*/

/*    .footer-social ul {*/
/*        justify-content: center;*/
/*    }*/

/*    .footer-bottom p {*/
/*        font-size: 12px;*/
/*    }*/

/*     !* Phần top-header *!*/
/*    .top-header {*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*    }*/

/*    !* Phần center-header *!*/
/*    .center-header {*/
/*        flex-direction: column;*/
/*        gap: 10px;*/
/*    }*/

/*    .big-logo {*/
/*        width: 120px; !* Điều chỉnh lại kích thước logo cho phù hợp *!*/
/*    }*/

/*    .logo-icon {*/
/*        order: -1; !* Đưa phần icon lên đầu khi hiển thị theo cột *!*/
/*        gap: 5px;*/
/*    }*/

/*    !* Phần bottom-header *!*/
/*    .bottom-header {*/
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
/*    }*/
/*}*/



