<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap-grid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../static/scss/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/scss/owl.theme.default.css">
    <link rel="stylesheet" href="../static/scss/home.css">
    <title>Hệ thống bán lẻ đồ thể thao</title>
</head>
<body>
<div class="container-fluid" style="padding: 0">
    <div class="wrapper">
        <header>
            <div class="top-header">
                <a href="" class="icon-top-header"><i class="fa-brands fa-pinterest fa-xs" style="color: #ffffff;"></i></a>
                <a href="" class="icon-top-header"><i class="fa-sharp fa-solid fa-phone fa-xs"
                                                      style="color: #ffffff;"></i></a>
                <a href="" class="icon-top-header"><i class="fa-solid fa-envelope fa-xs"
                                                      style="color: #ffffff;"></i></a>
                <a href="" class="icon-top-header"><i class="fa-brands fa-twitter fa-xs"
                                                      style="color: #ffffff;"></i></a>
                <a href="" class="icon-top-header"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
                <a href="" class="icon-top-header"><i class="fa-brands fa-facebook-f fa-xs" style="color: #ffffff;"></i></a>
            </div>

            <div class="center-header">
                <a href="home.html"><img
                        src="https://www.sporter.vn/wp-content/uploads/2023/11/2023_Logo-SPORTER-Mini-New.png"
                        alt="ảnh logo" class="big-logo"></a>
                <div class="logo-icon">
                    <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #777;" id="searchicon"></i>

                    <a href="login-form.html" class="btn-icon"><i class="fa-solid fa-user fa-2xl"
                                                                  style="color: #777;"></i></a>
                    <a href="" class="btn-icon"><i class="fa-solid fa-cart-shopping fa-2xl"
                                                   style="color: #777;"></i></a>

                </div>
                <div class="toggle-btn"><i class="fa-solid fa-bars"></i></div>

            </div>
            

            <div class="bottom-header">
                <a href="" class="list-menu">Áo bóng đá câu lạc bộ</a>
                <a href="" class="list-menu">Áo bóng đá đội tuyển</a>
                <a href="" class="list-menu">Phụ kiện</a>
            </div>
        </header>

        <div class="slider ">
            <div class="big-banner-mobile"><img src="https://i.pinimg.com/564x/fc/fe/6a/fcfe6a331e49c4ee1b6f1e35e39f656f.jpg"></div>
            <div class="big-banner">
                <div style="position: relative; display: flex">
                    <img src="https://www.sporter.vn/wp-content/uploads/2023/11/2023_Homepage_Banner_1.jpg" alt=""
                         class="img-big-banner" style="max-width: 100%">
                    <div class="row footer-banner" style="position: absolute">
                        <div class="col ">
                            <p>Sporter là nơi bạn có thể đặt áo bóng đá với giá tốt nhất tại TP.HCM mà bạn không thể bỏ
                                qua…</p>
                            <div class="btn-block">
                                <a href="" class="btn-footer-banner col-3">Câu lạc bộ</a>
                                <a href="" class="btn-footer-banner col-4">Đội tuyển quốc gia</a>
                                <a href="" class="btn-footer-banner col-3">Phụ kiện</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-show">
        <div class="title-slider-show first-title-slide-show">
            <h3 style="color: orangered;"><i class="fa-regular fa-star fa-xl" style="color: orangered"></i> CLICK CHUỘT
                VÀO LOGO CLB ĐỂ XEM CHI TIẾT ÁO ĐẤU</h3>
        </div>
        <div class="row">
            {% for item in teams %}
            <div class="col-md-3 col-lg-2">
                <a href="/team/{{item["teamName"]}}">
                <img class="img-fluid" style="background-color: black"
                     src="{{item["teamImg"]}}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="title-slider-show">
            <h3 style="color: orangered;"><i class="fa-regular fa-star fa-xl"
                                             style="color: orangered; padding-right: 0.5%"></i>MÙA GIẢI 23/23 MỚI NHẤT
            </h3>



    <!-- search form-->
    <div class="overlay" id="overlay"></div>

<div class="search-container" id="search-container">
    <form action="#" id="search-form">
        <input type="text" name="keyword" id="keyword" placeholder="Search">
        <button type="submit" id="search-btn"><i class="fa-solid fa-magnifying-glass" style="color: #fff;" ></i></button>
    </form>
</div>
<!--End search form-->
<!--DROPDOWN MENU-->
            <div class="dropdown-menu">
                <div class="close-dropdown-menu-icon" onclick="toggleDropdownMenu()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <ul>
                    <a href="" class="list-item">
                        <li>Áo đội tuyển</li>
                    </a>
                    <a href="" class="list-item">
                        <li>Áo câu lạc bộ</li>
                    </a>
                    <a href="" class="list-item">
                        <li>Phụ kiện</li>
                    </a>
                    <a href="" class="list-item">
                        <li>Đăng nhập</li>
                    </a>
                </ul>
            </div>
<!--END DROPDOWN MENU-->

<!-- End search form-->
<div class="slide-windown">
    <div class="owl-carousel owl-theme">
        {% for item in carousel %}
            <div class="item ">
                <div class="item-inner ">
                    <img class="img-fluid " src="{{item["productImg"]}}" alt="">
                    <div class="item-info ">
                        <h5>{{item["productName"]}}</h5>
                        <p>{{item["productDescription"]}}</p>
                        <p>Giá: {{item["productPrice"]}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<footer>
    <footer class="site-footer">
    <div class="container">
        <div class="footer-contact">
            <h3>Liên hệ</h3>
            <p><i class="fas fa-map-marker-alt"></i> 123 Đường ABC, TP HCM</p>
            <p><i class="fas fa-envelope"></i> info@yourdomain.com</p>
            <p><i class="fas fa-phone"></i> +84 123 456 789</p>
        </div>
        <div class="footer-links">
            <h3>Liên kết nhanh</h3>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Về chúng tôi</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <h3>Mạng xã hội</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>&copy; 2024 Your Sport Shop. All rights reserved.</p>
        </div>
    </div>
</footer>
</footer>


<script src="https://code.jquery.com/jquery-3.7.1.slim.js"
        integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
<script src="../static/js/owl.carousel.js"></script>
<script>$('.owl-carousel').owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    responsive: {
        0: {
            items: 1
        },
        600: {
            items: 3
        },
        1000: {
            items: 5
        }
    }
})</script>
<script src="../static/js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>