.quantity-btn {
  border: solid 0.1rem black;
  width: 8rem;

  :hover {
    cursor: pointer;
    background-color: rgba(black, 0.2);
  }

  span:hover, i:hover {
    background-color: rgba(black, 0);
  }

  :active {
    border-color: rgba(black, 0);
  }
}